<div class="jumbotron">
    <% if current_user %>
            Hello
    <% else %>
      <%= render 'signup' %>
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>To Do List</h2>
    <p></p>
  </div>
  <div class="col-md-4">
    <h2>Partials</h2>
    <p></p>
  </div>
</div>

