<div class="jumbotron">
  <h1>Welcome to Blocitoff</h1>
  <p>Blocitoff will help you make useful to do lists.</p>
  <p>
    <% if current_user %>
            Hello
    <% else %>
      <%= render 'signup' %>
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Section 1</h2>
    <p></p>
  </div>
  <div class="col-md-4">
    <h2>Section 2</h2>
    <p></p>
  </div>
  <div class="col-md-4">
    <h2>Section 3</h2>
    <p></p>
  </div>
</div>

