<%= form_for [@list, @new_item] do |f| %>
    <div class="form-group">
      <%= f.label :'New Task:' %>
      <%= f.text_field :name, rows: 1, class: 'form-control', placeholder: "Describe task." %>
    </div>
    
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success btn-sm' %>
    </div>
<% end %>
