<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>

    <div class="list-item">
      <%= link_to " ", [@list, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
      <%= item.name %>
    </div>
    <div class="item-time">
      <%= pluralize(item.days_left, 'day') %> left
    </div>
   
<% end %>


