<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>

  <div class="media-body">
    <small>
      
      <%= link_to "", @item, method: :delete, class: 'glyphicon glyphicon-ok' %>
      <%= item.name %> Task <%= item.created_at %> ago
    </small>
    
  </div>

<% end %>