<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  
  <%= link_to '#', class: 'pull-left' %>  

  <div class="media-body">
    <small>
      <%= item.name %> Task <%= item.created_at %> ago
    </small>
    
  </div>

<% end %>