 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" 
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {

}

.list-item {
  font-size: 12pt;
}

.item-time {
  font-size: 8pt;
  margin-left: 20px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}